In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
%matplotlib inline

In [24]:
dataset=sns.load_dataset('iris')

In [25]:
df=pd.DataFrame(dataset)

In [26]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [27]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [28]:
X=df.drop(['species'],axis=1)
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [29]:
Y=df['species']
Y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [30]:
#Encoding categorical variable Y
from sklearn.preprocessing import LabelEncoder
labelencoder_y = LabelEncoder()
Y = labelencoder_y.fit_transform(Y)
Y =np.array(Y).reshape(-1,1)

In [31]:
X.shape

(150, 4)

In [32]:
Y.shape

(150, 1)

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [34]:
from sklearn.svm import SVC
classifier=SVC(C=1.0,gamma='scale')

In [35]:
classifier.fit(x_train,y_train)

C:\Users\jaisw\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [36]:
y_pred=classifier.predict(x_test)

In [37]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred)*100)

100.0