In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset=pd.read_csv('Social_Network_Ads.csv')

In [3]:
df=pd.DataFrame(dataset)

In [4]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
X=df.drop(['Purchased','Gender'],axis=1)
X.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [7]:
Y=df['Purchased']
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [8]:
#Train-Test Split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [9]:
#Feature Scaling
from sklearn.preprocessing import MinMaxScaler
sc_x=MinMaxScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.transform(x_test)

C:\Users\jaisw\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [10]:
x_train.shape

(320, 3)

In [11]:
y_train.shape

(320,)

In [12]:
from sklearn.svm import SVC

In [13]:
classifier=SVC(gamma='scale')
classifier.fit(x_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [14]:
y_pred=classifier.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred,y_test)*100)

95.0

In [16]:
###SVM WITH gRID Search ###1

In [17]:
from sklearn.model_selection import GridSearchCV

In [18]:
###########  LIST OF DICTIONARIES ############

In [19]:
param_grid=[{'C':[1,10,100,1000],'kernel':['linear']},{'C':[1,10,100,1000],'kernel':['rbf'],'gamma':[0.1,0.5,0.01,0.001]}]

In [20]:
gridsearch=GridSearchCV(estimator=classifier,param_grid=param_grid,scoring='accuracy',n_jobs=-1,cv=10)

In [21]:
gridsearch.fit(x_train,y_train)

C:\Users\jaisw\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid=[{'C': [1, 10, 100, 1000], 'kernel': ['linear']}, {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.5, 0.01, 0.001]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [22]:
best_accuracy=gridsearch.best_score_

best_parameters=gridsearch.best_params_

In [23]:
best_accuracy

0.8875

In [24]:
best_parameters

{'C': 1000, 'gamma': 0.5, 'kernel': 'rbf'}

In [25]:
#### GRID SEARCH DIDN'T HELP HERE, In Fact made the accuracy worser####

In [26]:
###################### CROSS VALIDATION ############

In [27]:
from sklearn.model_selection import cross_val_score
#we are doing 10 folds ans storing the results of each fold in accuracies
accuracies=cross_val_score(estimator=classifier,X=x_train,y=y_train,cv=10)

In [28]:
accuracies.mean()

0.8970521749755621

In [29]:

#gives standard deviation
accuracies.std()

0.0481910001571103

In [ ]:
### LOW STANDARD DEVIATION MEANS LESS VARIATION & BETTER ACCURACY